# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Generated archives
*.zip

# Env
.env
.env.*
!.envrc

# macOS
.DS_Store

# Editor
.vscode/
.idea/
